---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="section pt-14">
    <div
      class="container"
      style="max-width: 1200px; margin: 0 auto; padding: 2rem;"
    >
      <div class="row justify-center">
        <iframe
          src="https://calendar.google.com/calendar/embed?src=dentoncountyhg%40gmail.com&ctz=America%2FChicago"
          style="border: 0; width:100%; display:block;"
          height="600"
          frameborder="0"
          scrolling="no"
        >
        </iframe>
      </div>
    </div>
  </section>
</Layout>
