---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="hero-content">
		<h1>Welcome to the Denton County Homebrewers Guild!</h1>
		<p>Brewing, Sharing, Learning</p>
	</div>
</Layout>

<style>
	.hero-content {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;
		color: white;
	}

	.hero-content p {
		text-align: center;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
</style>
