---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import FindUs from "../components/FindUs.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section class="section pt-14">
		<div class="hero-content">
			<div class="hero-text">
				<h1>Welcome to the Denton County Homebrewers Guild!</h1>
				<p>Brewing, Sharing, Learning</p>
			</div>
		</div>
		<div class="content flex justify-center">
			<div class="w-full max-w-xl justify-center">
				<blockquote>
					<p>
						"Founded in 2012, the DCHG exists as a means for members to explore their hobby through the promotion and education of home brewing. The mission of the DCHG is to promote awareness and appreciation of the quality and variety of homebrewed beers, wines, meads, and teas, through education, research, and the collection and dissemination of information: to serve as a forum for the technological and cross-cultural aspects of the art of zymurgy; and to encourage personal responsibility when using alcohol-containing beverages."
						<br /><span>- Denton County Homebrewers Guild</span>
					</p>
				</blockquote>
			</div>
			<style>
				.hero-content {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					padding: 2rem;
				}

				.hero-text {
					text-align: center;
					font-size: 1.75rem;
				}

				.hero-text h1 {
					font-size: 2.5rem;
					color: white;
					text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
					margin-bottom: 1rem;
				}

				.hero-text p {
					color: white;
					text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
					font-size: 1.25rem;
				}
				#quote {
					color: white;
					text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
					margin-bottom: 1rem;
					text-align: center;
				}
				blockquote {
					text-align: center;
					margin: 6rem auto;
					padding: 1.5rem;
					max-width: 600px;
				}
				blockquote p {
					font-size: 1.125rem;
					line-height: 1.5;
					text-align: center;
					color: #fff;
				}
			</style>
		</div>
	</section>
	<FindUs />
</Layout>
