---
import astroLogo from "../assets/astro.svg";
import background from "../assets/beer-glass.jpg";
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">
			<h1>Brewing, Sharing, Learning</h1>
			<section id="links"></section>
		</section>
	</main>
</div>
