---
import "../styles/main.css";
import Footer from "../layouts/Footer.astro";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Denton County Homebrewers Guild</title>
	</head>
	<body>
		<Navigation />
		<div class="page-wrapper">
			<main class="content">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		position: relative;
	}

	body::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("/images/beer-glass.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		filter: blur(6px);
		z-index: -1;
	}

	.page-wrapper {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		padding-bottom: 2rem;
	}

	.content {
		flex: 1;
	}
</style>
